<%= form_tag @day, :method => 'GET', :url => { :action => "show_history" },  :remote => true do %>
<% my_date_time = Time.now - 30.days%>
<!-- <%= select_date(my_date_time, :prefix => 'payday')%>-->
			<%= select_tag :day, options_for_select(ItemHistory::DAYS,@day.to_s),{ :onchange => "this.form.submit();"} %> 
			<% end %>
<div id="loading">
Loading...
</div>
