<h3>Change Password</h3>
<div class="row">
	<div class="span6">
		<%= render 'change_password' %>
	</div>
	<div class="span4">
		<%= image_tag @user.avatar.url(:small) %>	
		<%= render 'form_avatar' %>
	</div>
</div>
